#button {
    width: 100%; /* 100% of parent container*/
    margin:auto;
    line-height: 1.6;
    margin-top: 5em;
    margin-bottom: 7em;
    text-align: center;
}


#button > h3 {
    font-weight:800;
    /*text-align: center;*/
    font-size:18px;
    margin-bottom: 1em;
}

#button > #button-container {
    width:100%;
    display:flex;
}

#button > #button-container > #support-us {
    width:auto;
    width:max-content;
    background-color: #ffc423;
    padding:10px;
    outline:none;
    border:none;
    font-weight:800;
    font-size:18px;
    margin:auto;
    cursor:pointer;
}